### FILE HANDLING 
Data scientist work with different file types ranging from, txt, csv, json, excell,
xml among others. those files helps to store data which are usful for darta anlsys and machine learning
operations, they can be handled with the python programming language.

In [15]:
# Reading a text file
file_name = "sample_file.txt"

In [43]:
# Using the python open statement to READ text file
file = open(filename, mode="r")

In [27]:
file.readline()

'This is our data science course\n'

In [29]:
file.readline()

'We are learning data science skills'

In [31]:
file.close()

### CONTEXT MANAGER
The context manager helps to handle the opening and closing of files in Python

In [59]:
with open("class_people.csv", "r") as file:
    print(file.read())

 name, age, gender
Osato, 30, Female
 This is end of the file
 This is end of the file

In [83]:
#filewc = r"C:\Users\MAC\Desktop\Python_Workshop\world_cup_2018_matches.csv"
#filewc.readline()

AttributeError: 'str' object has no attribute 'readline'

### USING THE PYTHON CSV MODULE
Just like we have other built in python, we have the csv module built in python. we can just import csv access its capabilities

In [96]:
import csv

In [98]:
with open(r"C:\Users\MAC\Desktop\Python_Workshop\world_cup_2018_matches.csv", "r") as f:
    for i in csv.reader(f):
        print(i[0])

Match ID
497410
497411
497412
497413
497414
497415
497416
497417
497418
497419
497422
497423
497424
497426
497427
497428
497421
497420
497429
497425
497430
497431
497433
497434
497435
497438
497439
497432
497437
497436
497447
497442
497443
497444
497445
497446
497441
497440
497448
497449
497459
497450
497453
497454
497455
497457
497458
497452
497451
497456
497467
497461
497462
497463
497464
497468
497469
497465
497466
497460
497475
497470
497472
497474
497477
497478
497479
497476
497471
497473
497488
497481
497482
497484
497485
497487
497483
497480
497489
497486
497497
497491
497492
497493
497498
497496
497494
497495
497499
497490
497500
497501
497502
497503
497504
497505
497506
497507
497508
497509
497510
497511
497512
497513
497514
497515
497516
497517
497518
497519
497520
497521
497522
497523
497524
497525
497526
497527
497528
497529
497530
497531
497532
497533
497534
497535
497536
497537
497538
497539
497540
497541
497542
497543
497544
497545
497546
497547
497548
497549
497550
497551
497552
497553
497554
497555
497556
497557
497558
497559
497560
497561
497562
497563
497564
497565
497566
497567
497568
497569
497570
497571
497572
497573
497574
497575
497576
497577
497578
497579
497580
497581
497582
497583
497584
497585
497586
497587
497588
497589
497590
497591
497592
497593
497594
497595
497596
497597
497598
497599
497600
497601
497602
497603
497604
497605
497606
497607
497608
497609
497610
497611
497612
497613
497614
497615
497616
497617
497618
497619
497620
497621
497622
497623
497624
497625
497626
497627
497628
497629
497630
497631
497632
497633
497634
497635
497636
497637
497638
497639
497640
497641
497642
497643
497644
497645
497646
497647
497648
497649
497650
497651
497652
497653
497654
497655
497656
497657
497658
497659
497664
497665
497666
497667
497668
497669
497660
497661
497662
497663
497670
497671
497672
497673
497674
497675
497676
497677
497678
497679
497680
497681
497682
497683
497684
497685
497686
497687
497688
497689
497690
497691
497692
497693
497694
497695
497696
497697
497698
497699
497700
497701
497702
497703
497704
497705
497706
497707
497708
497709
497710
497711
497712
497713
497714
497715
497716
497717
497718
497719
497720
497721
497722
497723
497724
497725
497726
497727
497728
497729
497730
497731
497732
497733
497734
497735
497736
497737
497738
497739
497740
497741
497742
497743
497744
497745
497746
497747
497748
497749
497750
497751
497752
497753
497754
497755
497756
497757
497758
497759
497760
497761
497762
497763
497764
497765
497766
497767
497768
497769
497770
497771
497772
497773
497774
497775
497776
497777
497778
497779
497780
497781
497782
497783
497784
497785
497786
497787
497788
497789

In [124]:
import pandas as pd

# Load the data from the CSV file
file_path = r"C:\Users\MAC\Desktop\Python_Workshop\world_cup_2018_matches.csv"
data = pd.read_csv(file_path)

# Display the DataFrame
data

,Match ID,Home Team,Away Team,Home Score,Away Score,Match Date
0,497410,Manchester United FC,Fulham FC,1.0,0.0,2024-08-16T19:00:00Z
1,497411,Ipswich Town FC,Liverpool FC,0.0,2.0,2024-08-17T11:30:00Z
2,497412,Arsenal FC,Wolverhampton Wanderers FC,2.0,0.0,2024-08-17T14:00:00Z
3,497413,Everton FC,Brighton & Hove Albion FC,0.0,3.0,2024-08-17T14:00:00Z
4,497414,Newcastle United FC,Southampton FC,1.0,0.0,2024-08-17T14:00:00Z
...,...,...,...,...,...,...
375,497785,Newcastle United FC,Everton FC,NaN,NaN,2025-05-25T15:00:00Z
376,497786,Nottingham Forest FC,Chelsea FC,NaN,NaN,2025-05-25T15:00:00Z
377,497787,Southampton FC,Arsenal FC,NaN,NaN,2025-05-25T15:00:00Z
378,497788,Tottenham Hotspur FC,Brighton & Hove Albion FC,NaN,NaN,2025-05-25T15:00:00Z
379,497789,Wolverhampton Wanderers FC,Brentford FC,NaN,NaN,2025-05-25T15:00:00Z

In [126]:
data.dtypes

Match ID        int64
Home Team      object
Away Team      object
Home Score    float64
Away Score    float64
Match Date     object
dtype: object

### WORKING WITH JSON FILES
Json stands for Javascript object notation, Python has a json built in module to handle json files

In [129]:
import json
# There two important method in json(1. load, 2.dump)

In [9]:
# Loading files with numpy
# There are functions / method to load for laoding dataset in numpy:
# genfromtxt
# Loadfromtxt
import numpy as np

In [29]:
loan_amount = np.genfromtxt(r"C:\Users\MAC\Loan_prediction_dataset.csv", filling_values= 0, dtype= "int", delimiter=",", usecols=8)

In [31]:
loan_amount

array([  0,   0, 128,  66, 120, 141, 267,  95, 158, 168, 349,  70, 109,
       200, 114,  17, 125, 100,  76, 133, 115, 104, 315, 116, 112, 151,
       191, 122, 110,  35, 120, 201,  74, 106, 114, 320,   0, 100, 144,
       184, 110,  80,  47,  75, 134,  96,  88,  44, 144, 120, 144, 100,
       120, 112, 134, 286,  97,  96, 135, 180, 144, 120,  99, 165,   0,
       116, 258, 126, 312, 125, 136, 172,  97,  81,  95, 187, 113, 176,
       110, 180, 130, 111,   0, 167, 265,  50, 136,  99, 104, 210, 175,
       131, 188,  81, 122,  25,   0, 137,  50, 115, 131, 133, 151,   0,
         0, 160, 100, 225, 120, 216,  94, 136, 139, 152,   0, 118, 185,
       154,  85, 175, 259, 180,  44, 137,  81, 194,  93, 370,   0, 160,
       182, 650,  74,  70,  25, 102, 290,  84,  88, 242, 129, 185, 168,
       175, 122, 187, 100,  70,  30, 225, 125, 118, 152, 244, 113,  50,
       600, 160, 187, 120, 255,  98, 275, 121, 158,  75, 182, 112, 129,
        63, 200,  95, 700,  81, 187,  87, 116, 101, 495, 116, 102, 180,
        67,  73, 260, 108, 120,  66,  58, 168, 188,  48, 164, 160,  76,
       120, 170, 187, 120, 113,  83,  90, 166,   0, 135, 124, 120,  80,
        55,  59, 127, 214, 128, 240, 130, 137, 100, 135, 131,  72, 127,
        60, 116, 144, 175, 128, 170, 138, 210, 158, 200, 104,  42, 120,
       280, 140, 170, 255, 122, 112,  96, 120, 140, 155, 108, 123, 120,
       112, 137, 123,  90, 201, 138, 104, 279, 192, 255, 115,  94, 304,
       128, 330, 134, 155, 120, 128, 151, 150, 160, 135,  90,  30, 136,
       126, 150,  90, 115, 207,  80, 436, 124, 158, 112,  78,  54,   0,
        89,  99, 120, 115, 187, 139, 127, 134, 143, 172, 110, 200, 135,
       151, 113,  93, 105, 132,  96, 140,   0, 135, 104, 480, 185,  84,
       111,  56, 144, 159, 111, 120,  88, 112, 155, 115, 124,   0, 132,
       300, 376, 130, 184, 110,  67, 117,  98,  71, 490, 182,  70, 160,
       176,   0,  71, 173,  46, 158,  74, 125, 160, 152, 126, 259, 187,
       228, 308,  95, 105, 130, 116, 165,  67, 100, 200,  81, 236, 130,
        95, 141, 133,  96, 124, 175, 570,  55, 155, 380, 111, 110, 120,
       130, 130,  71, 130, 128, 296, 156, 128, 100, 113, 132,   0, 136,
       125, 185, 275, 120, 113, 113, 135,  71,  95, 109, 103,  45,  65,
       103,  53, 194, 115, 115,  66, 152, 360,  62, 160, 218, 110, 178,
        60, 160, 239, 112, 138, 138,  80, 100, 110,  96, 121,  81, 133,
        87,  60, 150, 105, 405, 143, 100,   0,  50,   0, 187, 138, 187,
       180, 148, 152, 175, 130, 110,  55, 150, 190, 125,  60, 149,  90,
        84,  96, 118, 173, 136, 160, 160, 128, 153, 132,  98, 140,  70,
       110,  98, 110, 162, 113, 100,  93, 162, 150, 230, 132,  86,   0,
       154, 113, 128, 234, 246, 131,  80, 500, 160,  75,  96, 186, 110,
       225, 119, 105, 107, 111,  95, 209, 113, 100, 208, 138, 124, 243,
       480,  96, 188,  40, 100, 250, 148,  70, 311, 150, 113, 123, 185,
        95,  45,  55, 100, 480,   0, 400, 110, 161,  94, 130, 216, 100,
       110, 196, 125, 126, 324, 107,  66, 157, 140,  99,  95, 128, 102,
       155,  80, 145, 103, 110,   0,   0, 158, 181, 132,  26,  84, 260,
       162, 182, 108, 600, 211, 132, 258, 120,  70, 123,   9, 104, 186,
       165, 275, 187, 150, 108, 136, 110, 107, 161, 205,  90,  36,  61,
       146, 172, 104,  70,  94, 106,  56, 205, 292, 142, 260, 110, 187,
        88, 180, 192, 350, 155, 128, 172, 496,   0, 173, 157, 108,  71,
        40, 253, 187, 133])

In [27]:
loan_max = np.max(loan_amount)
print(f"Maximum loan_amount: {loan_max}")

Maximum loan_amount: 81000

In [33]:
loan_max = np.mean(loan_amount)
print(f"Mean of loan_amount: {loan_max}")

Mean of loan_amount: 140.93658536585366