### Scope of Varibale
Variable define inside a functuon have the local scope of are only accessible within the function.
Varibable define outside function have global scope.

In [16]:
x = 10
y = 5
def my_function():
    y = 5
    z = 18
    print(x + y + z)

In [18]:
my_function()

33

### Introduction ito lambda function
In python, a lambda function is a small, anonymous function that can have a nuymber of argument
but can only have one expression. lambda functuin are also known as anonymous function base they do not 
require a name like a regular function define using the [def] word

In [22]:
add = lambda x, y, : x + y

In [24]:
add(20, 10)

30

### Using lambda with Built-in Functions

In [38]:
# Sorting a list of tuples base on the secpmd elemenets usuing a lamba functions
point = [(1, 9), (4, 1), (5, 3), (2, 7)]

sorted(point, key = lambda x: x[1], reverse=True)

[(1, 9), (2, 7), (5, 3), (4, 1)]

In [40]:
#Using lambda with filter to get even numbers from a list
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
for i in number:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [44]:
lambda x: x % 2 == 0

In [48]:
list(filter(lambda x: x % 2 == 0, number))

[2, 4, 6, 8, 10]

### Map Functions
The Map() function in python is a built in function that allows you to apply a given function to each item
of an iterable such as list, tuple or string and return an interable map objecrt, which can be convcerted to other iterable.
its a powerful tool for perfoming the ame operation on multiple elements of a collection

In [51]:
def square(x):
    return x ** 2

In [53]:
number = [1, 2, 3, 4, 5]

In [55]:
list(map(square, number))

[1, 4, 9, 16, 25]

In [59]:
for i in map(square, number):
    print(i)

1
4
9
16
25

### Using map() with lambda function

In [62]:
number

[1, 2, 3, 4, 5]

In [66]:
for i in map(lambda x: x **2, number):
    print(i)

1
4
9
16
25

### Apply map() to multiple iterable

In [72]:
list1 = [1, 2, 3]
list2 = [10, 20, 30]

In [74]:
list(map(lambda x, y: x + y, list1, list2))

[11, 22, 33]

### Mapping characters to their ascii values

In [77]:
# Using map get ASCII values of characters on a string
text = "Hello"
ascii_values = map(ord, text)

In [79]:
list(ascii_values)

[72, 101, 108, 108, 111]

In [81]:
text = "Everything"
ascii_values = map(ord, text)

In [83]:
list(ascii_values)

[69, 118, 101, 114, 121, 116, 104, 105, 110, 103]

### Object Oriented Programming in Python
Object oriented programming is a paradigm that used opbjects to structure 
and organise code. In OOP, eerything is treated as an object, which is an istance of class. A class is the
blueprint for creating object, indluding thier propertiea(Attributes) and behaviours(Methods)

#### Some important concept in OOP
- Class: A Class is a blueprint or template for creating objects
- Object: An Object is an instance of a class.
- Attribute: Attribute are varibales that store data Within an object
- Method: Method are functions that define the behavoiur of an object

In [15]:
# Creating a class
class item:
    pass

In [17]:
def mrpelu():
    pass

In [113]:
item1 = item()

I am Created!!!

In [117]:
item

__main__.item

In [119]:
class Human:
    def walk(self):
        return "Human can walk"    
    def eat(self):
        return "Human can eat"    
    def jump():
        return "Human can jump"
    def sleep():
        return "Human can sleep"
    def Erin():
        return "Erin is human and can do all of this thing"

In [121]:
print(Human)

<class '__main__.Human'>

In [123]:
black = Human()

In [125]:
black.head = 1
black.eyes = 2
black.nose = 1
black.mouth = 1

In [127]:
black.eyes

2

In [129]:
# Assigning attributes to the instance of a class
Item.name = "Phone"
Item.price = 100
Item.quantity = 5

In [131]:
Item.name

'Phone'

In [133]:
# Giving the class a method
class item:
    def calculate_total_price(self, x, y):
        return x * y

In [135]:
Item1 = item()

In [137]:
Item1.name = "Laptop"
Item1.price = 1000
Item1.quantity = 3

In [139]:
Item1.calculate_total_price(Item.price, Item.quantity)

500

In [141]:
# Using the dunder method a crewate the attributes
class item:
    def __init__(self):
        print("I am Created!!!")

In [143]:
class Item:
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity

    def calculate_total_price(self):
        return self.price * self.quantity

In [145]:
item1= Item("Phone", 100, 5)
item2 = Item("Laptop", 1000, 3)