In [19]:
# import numpy
import numpy as np

In [21]:
# import pandas

import pandas as pd

In [23]:
df_car = pd.DataFrame(series_car, columns = ['car brand'])
print(df_car)

NameError: name 'series_car' is not defined

In [ ]:
type(df_car)

In [ ]:
price = pd.Series([3.1, 4.5, 13.5, 19.9], index = ['A', 'B', 'C', 'D'])
quantity = pd.Series ([7, 10, 15, 24], index = ['A', 'B', 'C', 'D'])

# find the revenue --
revenue = price * quantity
print(revenue)

In [ ]:
# Concatenation

result_concat = pd.concat([price, quantity], axis =1)
print(result_concat)

In [ ]:
# rename the 0 and 1 to price and quantity, respectively.
df_renamed = result_concat.rename(columns = {0:"price", 1:'quantity'}, index = {'A':0, 'B':1, 'C':2, 'D':3})
df_renamed

In [ ]:
#df_renamed['revenue'] = df_renamed.price *df_renamed.quantity
df_renamed['revenue'] = df_renamed['price'] * df_renamed['quantity']
df_renamed

### Other functions and methods in Pandas
**.describe(): It is an inbult method that generates descriptive statistics for a DataFrame or Series, including the count, mean, standard devaition, munimum, 25th percentile, 50th percentile (median), 75th percentile, and maximum.**

In [ ]:
# view thee summary statistics of the def_renamed
df_renamed.describe().astype('int') # .astye(): is a method for converting from one data type to another

In [ ]:
df_renamed.describe([.40, .60, .90])

In [ ]:
df_renamed.describe([.40])

In [ ]:
df_renamed['price'].median()

In [ ]:
# retrieve 24 using loc from quantity
df_renamed.loc[0:2, 'quantity']

In [ ]:
df_renamed

In [ ]:
# Creating a dictionary
customer_table = {"customer_id": [101, 102, 103, 104, 105], "customer_name": ['Olasoji', 'Tobi', 'Niyi', 'Tosin', 'Erin'],
           "department": ["Money Laundry", "BabaIjebu", "Sporty", "Betnaija", "Data Scienece"], "salary": [45000, 3500, 23890, 90788, 29888], "grade_level": ["senior", "director", "senior", "manager", "junor"]}
print(customer_table)

In [ ]:
customer_table

In [ ]:
customer_table = df.loc[2, ['customer_name', 'department']]
print(customer_info)

In [ ]:
customer_table.iloc[0:3]

In [ ]:
# filter rows where salary is between 1200 and 5000 (inclusive)
# | ===> , & ===> and
filtered_df = customer_table.loc[(customer_table['salary'] >= 3500) & (customer_table['salary'] <= 90788)]
filtered_df

In [25]:
# import neccessary libraries
import pandas as pd
import numpy as np

# for visual
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
# import and read file/dataset
df = pd.read_excel(r"C:\Users\MAC\Desktop\Python_Workshop\Sales order.xlsx")
df.head()

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
0,SO - 000101,2014-06-01,2014-08-02,15,Distributor,USD,NXH382,47,11,5,1963.1,1001.181,9815.5
1,SO - 000102,2014-06-01,2014-08-10,20,Wholesale,NZD,GUT930,36,2,5,3939.6,3348.660,19698.0
2,SO - 000103,2014-06-01,2014-07-08,16,Export,USD,GUT930,39,11,10,1775.5,781.220,17755.0
3,SO - 000104,2014-06-01,2014-07-12,48,Export,USD,AXW291,20,7,6,2324.9,1464.687,13949.4
4,SO - 000105,2014-06-01,2014-08-28,49,Wholesale,USD,AXW291,20,7,6,1822.4,1476.144,10934.4