## For loops 
For loops is used to iterate through a sequence of values

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
for i in range(10):
    if i > 3:
        break
    print(i)

0
1
2
3

In [15]:
for i in range(7):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6

## Strings
- Strings are essential part of Python programming construct, they are denoted by either single or double quotes. 
- Strings have methods for changing and manipulating them.

In [18]:
name = 'eniola'
names = ['emmanuel', 'ruth', 'eniola', 'niyi', 'soji']

In [20]:
name.capitalize()

'Eniola'

In [22]:
new_names = []
for i in names:
    new_names.append(i.capitalize())

In [24]:
new_names

['Emmanuel', 'Ruth', 'Eniola', 'Niyi', 'Soji']

In [26]:
name.upper()

'ENIOLA'

In [28]:
new_names = []
for i in names:
    new_names.append(i.upper())

In [30]:
new_names

['EMMANUEL', 'RUTH', 'ENIOLA', 'NIYI', 'SOJI']

In [32]:
capital = name.upper()
capital

'ENIOLA'

In [34]:
# This method change the first letter of the word to uppercase
capital.title()

'Eniola'

In [36]:
# This method changes all the letter of the word to lowercase
capital.lower()

'eniola'

In [38]:
'wE ARE LEARNING python'.lower()

'we are learning python'

In [40]:
name = '   olasoji  '

In [42]:
# This function is used to get the length of a string
len(name)

12

In [44]:
# This method strips the whitespaces on the left of a string
name.lstrip()

'olasoji  '

In [46]:
# This method strips the whitespaces on the right of a string
name.rstrip()

'   olasoji'

In [48]:
# This method strips the whitespaces on both sides of a string
name.strip()

'olasoji'

In [50]:
'AbcDef'.islower()

False

In [51]:
for i in 'AbcDef':
    if i.islower() == True:
        print(i)

b
c
e
f

In [53]:
lower_case = ''
for i in 'AbcDef':
    if i.islower() == True:
        print(i)
    elif i.isupper() == True:
        print(i)

A
b
c
D
e
f

In [55]:
lower_case = []
upper_case = []
for i in 'AbcDef':
    if i.islower() == True:
        lower_case.append(i)
    elif i.isupper() == True:
        upper_case.append(i)

In [56]:
print(lower_case)
print(upper_case)

['b', 'c', 'e', 'f']
['A', 'D']

In [58]:
# Add joining two strings together
# Important Note!!! A String once declared can not be changed 
'-'.join('AbcDef')

'A-b-c-D-e-f'

In [60]:
# This replace the first  argument with second argument in a string
name.replace('','+')

'+ + + +o+l+a+s+o+j+i+ + +'

In [61]:
split = "WE ARE LEARNING PYTHON TOGETHER".split(' ')
split

['WE', 'ARE', 'LEARNING', 'PYTHON', 'TOGETHER']

## PYTHON LIST
- The list is a python data structure that can be changed or mutuable, list can store any type of data.
- It's denoted by square bracket

In [65]:
shopping_list = ['Mango', 'Tomatoes', 'Pasta', 'Noodles', 'Rice']

In [66]:
shopping_list[0]

'Mango'

In [68]:
shopping_list[4]

'Rice'

In [69]:
shopping_list[-1]

'Rice'

In [71]:
shopping_list[-5]

'Mango'

In [73]:
# slicing
# The last number in the slice is always excluded.
shopping_list[2:5]

['Pasta', 'Noodles', 'Rice']

In [74]:
shopping_list[-3:-1]

['Pasta', 'Noodles']

In [76]:
# Listing all the element in the list
shopping_list[:]

['Mango', 'Tomatoes', 'Pasta', 'Noodles', 'Rice']

In [78]:
# Start from the beginning stop at the third element 
shopping_list[:3]

['Mango', 'Tomatoes', 'Pasta']

## List methods(functions)
- List have some methods which are useful for manipulating and changing the values or elements in the list

In [82]:
shopping_list

['Mango', 'Tomatoes', 'Pasta', 'Noodles', 'Rice']

In [85]:
# this is an empty list 
my_list = []

In [86]:
# adding beeans to the shopping list
shopping_list.append('beans')

In [183]:
shopping_list

['Mango',
 'Tomatoes',
 'Pasta',
 'Noodles',
 'Rice',
 'Eggs',
 'beans',
 'perfume',
 'ice-cream',
 'groundnut']

In [90]:
my_list.append('shoes')

In [91]:
my_list

['shoes']

In [121]:
my_list.pop(1)

'shirt'

In [96]:
my_list

['shoes']

In [123]:
my_list.pop(2)

'Mac'

In [101]:
my_list.append('banana')
my_list

['shoes', 'banana']

In [103]:
# The extend method extend the list with more items or element
shopping_list.extend(['perfume', 'ice-cream', 'groundnut'])

In [105]:
shopping_list

['Mango',
 'Tomatoes',
 'Pasta',
 'Noodles',
 'Rice',
 'beans',
 'perfume',
 'ice-cream',
 'groundnut']

In [107]:
my_list.extend(['shirt','land','Mac','iphone-16','samsung','headset'])

In [108]:
my_list

['shoes', 'banana', 'shirt', 'land', 'Mac', 'iphone-16', 'samsung', 'headset']

# POP METHOD

In [111]:
# Using [.pop()] on default it pops the last element
my_list.pop()

'headset'

In [113]:
# the pop also takes indexing to pop a specified element
my_list.pop(1)

'banana'

In [142]:
my_list

['shoes', 'land', 'iphone-16', 'samsung']

# REMOVE METHOD

In [163]:
my_list.remove('banana')

In [173]:
my_list.append("Cup")

In [175]:
my_list

['shoes', 'land', 'iphone-16', 'samsung', 'banana', 'shirt', 'Cup']

In [177]:
# the remove method delete a specified element allowing strings 
my_list.remove('shirt')

In [179]:
my_list

['shoes', 'land', 'iphone-16', 'samsung', 'banana', 'Cup']

# Clear methods
- the clear method is to clear all the lists

### Insert Method

In [181]:
# The insert method put an element at a paticular index
shopping_list.insert(5, "Eggs")

In [185]:
shopping_list

['Mango',
 'Tomatoes',
 'Pasta',
 'Noodles',
 'Rice',
 'Eggs',
 'beans',
 'perfume',
 'ice-cream',
 'groundnut']

### Sort Method

In [190]:
shopping_list.extend(["apple", "Egg"])

In [188]:
# The sort method sort the list from the smallest to the largest
# It gives priority to the uppercase letter while sorting alphabets
shopping_list.sort()

In [ ]:
shopping_list.sort()

#### List Comprehension
List comprehension is a short and easy way of creating a new list using for loop

In [196]:
[i for i in "Erinola"]

['E', 'r', 'i', 'n', 'o', 'l', 'a']

In [200]:
[i.upper() for i in "Erinola"]

['E', 'R', 'I', 'N', 'O', 'L', 'A']

6. Creare a list called breafast from the string egg fruit, organge juice using the string .split() Method.
7. Verify that breakfast has three items using len()
8. Create a new list called lenths using a lisr comprehension that contain the lengths of each string in the breakfast list

In [206]:
Breakfast = "Egg, fruit, orange juice".split(",")

In [208]:
Breakfast

['Egg', ' fruit', ' orange juice']

In [210]:
len(Breakfast)

3

In [214]:
length = [i for i in Breakfast]

In [216]:
length

['Egg', ' fruit', ' orange juice']

In [228]:
length = [len(i) for i in Breakfast]

In [230]:
length

[3, 6, 13]

### Function Method
Function in python allow us to resue a blook of code, any time in our workflow. function in python are define by 'def' keyword

In [235]:
def greet():
    return "Hello! Welcome to Go My Code"

In [237]:
greet()

'Hello! Welcome to Go My Code'

In [239]:
def PinCode():
    return "8567"

In [245]:
PinCode()

'8567'

In [259]:
def PinCode():
    Pin = int(input("enter your pin: "))
    code = '8567'
    if code == Pin:
        return "Password correct!"
    else:
        return "Incorrect Pin!!"

In [261]:
PinCode()

enter your pin:  8567

'Incorrect Pin!!'

## Function with Parameter

### Tuple
Tuple are immutable data structure in python. That means this type of data
structure cannot be changed, one decleared tuple are created using round brackets

In [271]:
point = (3, 5)

In [273]:
# To declare a tuple, you only need to add a comma
# to your element
number = 3,

In [275]:
type(number)

tuple

In [277]:
# Creating a tuple from a list
tuple(shopping_list)

('Eggs',
 'Mango',
 'Noodles',
 'Pasta',
 'Rice',
 'Tomatoes',
 'beans',
 'groundnut',
 'ice-cream',
 'perfume',
 'apple',
 'Egg')

In [279]:
# Because tup;es are not change, thet have the limited me
point[0] = 4

TypeError: 'tuple' object does not support item assignment

In [298]:
# Indexing and slicing tuple
point = (3, 5, 7, 9, 12, 5)

In [283]:
point[0]

3

In [289]:
point[-1]

12

In [294]:
point[2:4]

(7, 9)

In [300]:
# Tuple methods
point.count(5)

2

In [302]:
# Unpacking  tuple
print(point)
a, b, c, d, e, f = point

(3, 5, 7, 9, 12, 5)

In [304]:
a

3

In [306]:
b

5

In [308]:
c

7

### Set
Sets are unordered collections of unique elements. They are commonly used to perform mathematical
set operations like union, intersection, and difference

In [313]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

In [315]:
my_set

{1, 2, 3, 4, 5}

In [319]:
# set method
my_set.add(6)

In [321]:
my_set

{1, 2, 3, 4, 5, 6}

In [327]:
# To add more than one numbers
my_set.update({7, 8, 9, 10, 11})

In [329]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [331]:
my_set1 = my_set.copy()

In [333]:
my_set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [348]:
my_set.remove(7)

In [350]:
my_set

{1, 2, 3, 4, 5, 6, 8, 9, 11}

In [352]:
my_set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [354]:
print(my_set)
print(my_set1)

{1, 2, 3, 4, 5, 6, 8, 9, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Dictionaries
Dictonaryis anther python data sturcture for mapping relationship between sets data.dictionaries aee donarted by curly
braces with keys and paor values in them

In [3]:
# Creating a dictionary
my_dict = {"name": "Alice", "Age": 30,
           "city": "New York", "State": "NY", "CarModel": "Benz", "OwnersName": "Erinola"}

In [5]:
my_dict

{'name': 'Alice',
 'Age': 30,
 'city': 'New York',
 'State': 'NY',
 'CarModel': 'Benz',
 'OwnersName': 'Erinola'}

In [7]:
# Assessing values of dictionary
my_dict["name"]

'Alice'

In [9]:
my_dict["name"] = "Temitope"

In [11]:
my_dict

{'name': 'Temitope',
 'Age': 30,
 'city': 'New York',
 'State': 'NY',
 'CarModel': 'Benz',
 'OwnersName': 'Erinola'}

In [13]:
# The Copy method, copies items in one dictionary to 
sample = my_dict.copy()

In [15]:
sample

{'name': 'Temitope',
 'Age': 30,
 'city': 'New York',
 'State': 'NY',
 'CarModel': 'Benz',
 'OwnersName': 'Erinola'}

In [17]:
my_dict.get("Age")

30

In [19]:
my_dict["name"] = "Erinola"

In [21]:
my_dict.items()

dict_items([('name', 'Erinola'), ('Age', 30), ('city', 'New York'), ('State', 'NY'), ('CarModel', 'Benz'), ('OwnersName', 'Erinola')])

In [23]:
for i, y in my_dict.items():
    print(y)

Erinola
30
New York
NY
Benz
Erinola

In [25]:
for key, value in my_dict.items():
    print(key, value)

name Erinola
Age 30
city New York
State NY
CarModel Benz
OwnersName Erinola

In [31]:
import pandas as pd

In [33]:
pd.DataFrame(my_dict, index=range(1, 2, 3))

      name  Age      city State CarModel OwnersName
1  Erinola   30  New York    NY     Benz    Erinola

In [39]:
# The item method returns both the key and the 
# Value of dictionary in a tuple-like format
for key, value in my_dict.items():
    print(key, value)

name Erinola
Age 30
city New York
State NY
CarModel Benz
OwnersName Erinola

In [41]:
# The key method returns all the key in the dictionary
my_dict.keys()

dict_keys(['name', 'Age', 'city', 'State', 'CarModel', 'OwnersName'])

In [43]:
# The Values method returns all the values in the dictionary
my_dict.values()

dict_values(['Erinola', 30, 'New York', 'NY', 'Benz', 'Erinola'])

In [47]:
# the pop-item method remove the last item from the item
my_dict.popitem()

('OwnersName', 'Erinola')

In [49]:
my_dict

{'name': 'Erinola',
 'Age': 30,
 'city': 'New York',
 'State': 'NY',
 'CarModel': 'Benz'}

In [55]:
# The setdefault method is to set key and value for the 
#dictionary
sample.setdefault("Gender", "Male")

'Male'

In [65]:
# The update method update an existing disctionary 
# with a new set of key value pair
sample.update({"color" :"black", "Gender" :"Male", "DriverLicense" :"EKY-678-90"})

In [67]:
sample

{'name': 'Temitope',
 'Age': 30,
 'city': 'New York',
 'State': 'NY',
 'CarModel': 'Benz',
 'OwnersName': 'Erinola',
 'Gender': 'Male',
 'color': 'black',
 'DriverLicense': 'EKY-678-90'}

In [69]:
captains = {}

1. Create an empty dictionary name captains.
2. Using the square bracket notation, enter the following the dictionary, one item at a time:
'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisko'

In [76]:
captains['Enterprise'] = "Picard"
captains['Voyager'] = "Janeway"
captains['Defiant'] = "Sisko"

In [78]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}