In [126]:
import pandas as pd

In [250]:
covid_file = pd.read_csv("covid_tracking.csv")
covid_file.head()

,date,state,positive,negative,pending,hospitalized_currently,hospitalized_cumulative,in_icu_currently,in_icu_cumulative,on_ventilator_currently,...,fips,death_increase,hospitalized_increase,negative_increase,positive_increase,total_test_results_increase,fips_code,iso_subdivision,load_time,iso_country
0,2021-03-07,AK,56886.0,NaN,NaN,33.0,1293.0,NaN,NaN,2.0,...,2,0,0,0,0.0,0,2,US-AK,2025-01-29 00:03:36,US
1,2021-03-07,AL,499819.0,1931711.0,NaN,494.0,45976.0,NaN,2676.0,NaN,...,1,-1,0,2087,408.0,2347,1,US-AL,2025-01-29 00:03:36,US
2,2021-03-07,AR,324818.0,2480716.0,NaN,335.0,14926.0,141.0,NaN,65.0,...,5,22,11,3267,165.0,3380,5,US-AR,2025-01-29 00:03:36,US
3,2021-03-07,AS,0.0,2140.0,NaN,NaN,NaN,NaN,NaN,NaN,...,60,0,0,0,0.0,0,60,US-AS,2025-01-29 00:03:36,US
4,2021-03-07,AZ,826454.0,3073010.0,NaN,963.0,57907.0,273.0,NaN,143.0,...,4,5,44,13678,1335.0,45110,4,US-AZ,2025-01-29 00:03:36,US

In [264]:
covid_file['Date_Split'] = covid_file['date']

In [266]:
covid_file

,date,state,positive,negative,pending,hospitalized_currently,hospitalized_cumulative,in_icu_currently,in_icu_cumulative,on_ventilator_currently,...,death_increase,hospitalized_increase,negative_increase,positive_increase,total_test_results_increase,fips_code,iso_subdivision,load_time,iso_country,Date_Split
0,2021-03-07,AK,56886.0,NaN,NaN,33.0,1293.0,NaN,NaN,2.0,...,0,0,0,0.0,0,2,US-AK,2025-01-29 00:03:36,US,2021-03-07
1,2021-03-07,AL,499819.0,1931711.0,NaN,494.0,45976.0,NaN,2676.0,NaN,...,-1,0,2087,408.0,2347,1,US-AL,2025-01-29 00:03:36,US,2021-03-07
2,2021-03-07,AR,324818.0,2480716.0,NaN,335.0,14926.0,141.0,NaN,65.0,...,22,11,3267,165.0,3380,5,US-AR,2025-01-29 00:03:36,US,2021-03-07
3,2021-03-07,AS,0.0,2140.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0.0,0,60,US-AS,2025-01-29 00:03:36,US,2021-03-07
4,2021-03-07,AZ,826454.0,3073010.0,NaN,963.0,57907.0,273.0,NaN,143.0,...,5,44,13678,1335.0,45110,4,US-AZ,2025-01-29 00:03:36,US,2021-03-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22256,2020-01-17,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0.0,0,53,US-WA,2025-01-29 00:03:36,US,2020-01-17
22257,2020-01-16,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0.0,0,53,US-WA,2025-01-29 00:03:36,US,2020-01-16
22258,2020-01-15,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0.0,0,53,US-WA,2025-01-29 00:03:36,US,2020-01-15
22259,2020-01-14,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0.0,0,53,US-WA,2025-01-29 00:03:36,US,2020-01-14
22260,2020-01-13,WA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0.0,0,53,US-WA,2025-01-29 00:03:36,US,2020-01-13

In [270]:
covid_file.fillna(0, inplace=True)

In [274]:
covid_file[['Day', 'Month', 'Year']] = covid_file['Date_Split'].str.split('/', expand=True)

ValueError: Columns must be same length as key

In [238]:
new_data = {
    'Date': ['2021-03-07', '2020-01-17', '2020-01-16'],
    'Day': ['01', '01', '03'],
    'Month': ['03', '01', '01'],
    'Year': ['2021', '2020', '2020']
}
covid_file = pd.DataFrame(new_data)

In [240]:
covid_file

         Date Day Month  Year
0  2021-03-07  01    03  2021
1  2020-01-17  01    01  2020
2  2020-01-16  03    01  2020